<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bouff'Job - Choisissez votre rôle</title>
    <!-- Include Montserrat Font and Tailwind CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
</head>
<body class="bg-gradient-to-r from-gray-50 to-blue-50 min-h-screen flex flex-col">
    <!-- Header -->
    <%- include('header-logo') %>

    <!-- Title -->
    <h1 class="text-3xl text-center font-bold mt-10 mb-6 text-black">
        Vous êtes...
    </h1>

    <!-- Buttons -->
    <div class="flex justify-center space-x-4">
        <a href="/login/restaurant" class="bg-orange-700 hover:bg-orange-600 text-white font-semibold py-3 px-6 rounded-md shadow-lg transition duration-200 ease-in-out">
            Un Restaurant
        </a>
        <a href="/login/student" class="bg-blue-700 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-md shadow-lg transition duration-200 ease-in-out">
            Un Étudiant
        </a>
    </div>
</body>
</html>
