<!-- views/partials/header.ejs -->
<head>
    <!-- Include Montserrat Font and Tailwind CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  
  <header class=" bg-gray-50 top-1 ">
    <div class="container mx-auto px-1 py-3 flex items-center justify-between">
        <div class="flex mt-4 bg-gray-50 rounded items-center">
            <img src="/images/logo3.png" alt="Company Logo" class="h-12 w-auto">
        </div>
       
        <!-- Mobile Menu Button -->
        <div class="md:hidden">
            <button id="mobile-menu-button" class="text-gray-700 hover:text-blue-500 focus:outline-none">
                <!-- Menu Icon -->
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path id="menu-icon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16"/>
                </svg>
            </button>
        </div>
    </div>
    
  </header>
  